/* NIKA GEDENIDZE 
FINAL PROJECT
CSS FOR WORDLE*/

* {
  font-family: "American Typewriter", sans-serif;
}

div:focus,
button:focus {
  outline: none;
}



.w {
  font-family: "Lobster", sans-serif;
  font-size: 60px;
  color: rgb(8, 236, 76);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.hidden {
  display: none;
  height: 0;
  width: 0;
}

/*root*/
.root {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fbf7ec;
  padding: 10px;
  display: inline;
  transition: 0.3s;
  z-index: -1;
}

.title {
  position: relative;
  left: calc(50% - 125px);
  width: fit-content;
  font-weight: 600;
}

.blured {
  filter: blur(30px);
}

/* root end */

/* main container*/
.root .main-container {

  position: absolute;
  top: 10%;
  height: 80%;
  left: 4%;
  width: 90%;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  /* background-color: #47a286; */
  padding: 20px 20px 0px 20px;
  margin-right: 20px;
}

.root .main-container .game-container {
  /* background-color: rgb(62, 62, 62); */
  width: 50%;
  height: auto;
  position: relative;
  top: 0px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: unset;
  min-width: 520px;
}

.root .main-container .game-container .game-container-heading {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border: 0;
  color: black;
  position: relative;
  text-align: center;
  font-size: 30px;
}
.root .main-container .game-container .game-container-heading p{
  padding: 0px;
  margin: 10px 0px;
}

.root .main-container .game-container .row {
  height: 4%;
  flex: 20%;
  padding: 0 -20px;
  min-width: 0%;
  margin: 2px 2px 2px 2px;
  /* TODO: change  inline-flex*/
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in-out;
}
.root .main-container .game-container .guessed_row {

  text-align: center;
  width: 100%;
  border: 0;
  color: #cb4747;
  border-radius: 10px;
  flex: 25%;
  padding: 0px;
  min-width: 10%;
  max-width: 500px;
  margin: 1px 2px;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  height: fit-content;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: hidden;  /* Hide the content when the element's height is 0 */
  transition: opacity 1s, visibility 1s, max-height 1s ease-in-out;
  opacity: 0;
  max-height: 0; /* Start with no height */
}

.root .main-container .game-container .guessed_row .guessed_row_heading{
  position: relative;
  top: -10%;
}
.root .main-container .game-container .guessed_row h2
{
  text-transform: uppercase;
  font-size: 15px;
  margin: 10px 0px;
  color: #130b0b;
  font-weight: 600;
}
.root .main-container .game-container .guessed_row p
{
  font-size: 12px;
  margin: 10px 0px;
  text-transform: uppercase;
  color: #f3f3f3;
}

/* Specific IDs with custom background colors */
.root .main-container .game-container #guessed_row1 {
  background-color: rgb(38, 187, 38);
}

.root .main-container .game-container #guessed_row2 {
  background-color: rgb(171, 165, 50);
}

.root .main-container .game-container #guessed_row3 {
  background-color: rgb(50, 84, 171);
}

.root .main-container .game-container #guessed_row4 {
  background-color: rgb(178, 74, 199);
}

/* Class to control visibility */
.visible {
  opacity: 1 !important;
  max-height: 100px !important;
  transition: opacity 1s, visibility 1s, max-height 1s ease-in-out !important;
  height: 10px !important;
}


.root .main-container .game-container .row .letter {
  margin: 2px;
  vertical-align: middle;
  width: 90%;
  height: 80px;
  /* border: 10px solid green; */
  background-color: rgba(41, 28, 79, 0.9);
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  box-shadow: 0 10px 10px 0 rgba(238, 224, 118, 0.2);
  transition: transform 1s ease;
}

.root .main-container .game-container .row .letter.push-down {
  transform: translateY(10px);
}

.root .main-container .game-container .row .letter input {
  width: 118px;
  height: 60px;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;

}

.root .main-container .game-container .row .selected {
  background-color: #f6f7f9;
  color: #070606 !important;
  text-align: center;
  border: none;
  outline: none;
}


.root .main-container .game-container .row .letter input::placeholder {
  font-size: 15px;
  word-wrap: break-word;
  align-items: center;
  overflow-wrap: normal;
  white-space: wrap;
  color: whitesmoke;
  text-transform: uppercase;
}

.root .main-container .game-container .row .selected input::placeholder {
  font-size: 15px;
  overflow-wrap: break-word;
  white-space: wrap;
  color: rgb(14, 13, 13);
  text-transform: uppercase;
}

.root .main-container .game-container .game_info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.root .main-container .game-container .game_info .life_line {
  display: inline-flex;
  height: 60px;
  position: relative;
  top: -10%;
  color: #111010;
  font-size: 30px;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.root .main-container .game-container .game_info .game_info_buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;

}

.root .main-container .game-container .game_info p {
  position: inherit;
}

.root .main-container .game-container .game_info .mistakes_round {
  position: inherit;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: rgb(116, 102, 102);

}


/* .root .option-container button {
  margin: 1px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0.6em 1.2em;
  background-color: #ade2ee;
  color: #5e6681;
  box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
  transition: all 0.3s ease-in-out;
} */

/* main container end*/

/* rules*/
.rules_container,
.settings_container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 700px;
  background: radial-gradient(circle 800px at 75% 45%, #ade2ee 10%, #eddfc2) fixed;
  padding: 30px;
  border: 2px solid black;
  border-radius: 2rem;
  box-shadow: -1px 0px 17px 6px rgb(19 17 17);
}

.rules_container.popup {
  display: grid;
  grid-template-columns: 1.8fr 0.1fr;
  grid-template-rows: 0.5fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas:
    "heading close"
    "rules .";
}

.settings_container.popup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "heading heading close"
    "user-information user-information user-information"
    "info-change info-change info-change"
    "info-change info-change info-change"
    "info-update-button info-update-button info-update-button"
    "info-update-button info-update-button info-update-button";
}


.info-update-buttons {
  grid-area: info-update-button;
}

.blured {
  grid-area: close;
}

.settings_container #close_settings {
  position: relative;
  left: 70%;
}

.rules {
  font-size: 20px;
  grid-area: rules;
}

.heading {
  text-align: right;

  grid-area: heading;
  font-weight: 600;
}

/* .rules_container.popup .heading {
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: space-between;
  align-items: flex-start;
} */
.user-information {
  grid-area: user-information;
}

.settings_container.popup .info-change {
  grid-area: info-change;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0px;
}

.info-change span {
  font-size: 1.5rem;
  font-weight: 600;
}

.settings_container button,
.rules_container.popup #playGame,
.root .main-container .game-container .game_info .game_info_buttons button {
  background-color: #2a2b39;
  color: #ffffff;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 10px 10px 0 rgba(238, 224, 118, 0.2);
  padding: 10px;
  margin: 20px 20px 40px 0px;
  width: 200px;
  position: relative;
}

.rules_container.popup #playGame {
  left: 40%;
  font-size: 20px;
}

.rules_container .user-information button {
  margin-left: -5px;
}

.settings_container input {
  border: none;
  outline: none;
  border-radius: 10px;
  max-height: 3px;
  padding: 1em;
  background-color: #2f2b2b;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
  color: #fff;
}

.settings_container input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
  color: #000;
}

.settings_container .info-update-buttons {
  display: inline;
}

.settings_container .info-update-buttons h2 {
  font-size: 20px;
}

.rules_container .rules h2 {
  font-size: 30px;
  font-weight: 600;
}

.rules_container .rules p {
  text-indent: 5px;
}

.info-change div {
  display: flex;
  align-items: center;
}

.info-change div p {
  margin-right: 5px;
}

#close,
#close_settings {
  position: relative;
  background: 0;
  width: fit-content;
  border: none;
  box-shadow: none;
}

/* Options */
.option-container {
  display: flex;
  position: absolute;
  top: 20px;
  padding: 5px;
  width: 200px;
  left: 65px;
  justify-content: center;
  align-items: baseline;
}

#open svg,
#restart svg,
#rules svg,
#close svg,
#close_settings svg {
  max-width: 50px;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 5px;
  stroke: rgb(37, 26, 67);
  margin-bottom: 5px;
}

#restart,
#rules,
#open {
  background: none;
  color: lightslategrey;
  border: 0;
  padding: 5px;
  width: 50px;
  height: 80px;
  margin-right: 10px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

#restart:active {
  cursor: default;
}

label {
  width: 55px;
  height: 30px;
  position: absolute;
  top: 35px;
  right: 60px;
  display: block;
  background: #ebebeb;
  border-radius: 20px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

label:after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#darkmode-toggle {
  visibility: hidden;
  width: 0;
}

input:checked+label {
  background: #242424;
}

input:checked+label:after {
  left: 54px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

label:active:after {
  width: 29px;
}

input:checked~label~.root {
  background: #143e61;
}

input:checked~label~.rules_container,
input:checked~label~.settings_container {
  color: #fff;
  background: #0d0e0f;
}

input:checked~label~* {
  color: #fff !important;
  stroke: white;
  fill: white;
}

/* input:checked ~ label ~ .main-container {
	background: #34195e;
} */
/* Options end*/
#position_guessed_correctly {
  transition: 3ms;
  background-color: rgb(56, 149, 84) !important;
}

#letter_guessed_correctly {
  background-color: rgb(170, 165, 68) !important;
}

.inaccessible {
  pointer-events: none;
}

/* med */
@media only screen and (min-width: 641px)and (max-width: 1007px) {

  .rules_container,
  .settings_container {
    transform: scale(0.7) translate(-70%, -70%);
  }
  .root .main-container .game-container {
    top: -10%;
    transform: scale(0.8);
    height: 120%;
  }
  .letter{
    transform: scale(1);
  }
}

/* small */
@media only screen and (max-width: 640px) {
  .guessed_row{
    transform: scale(0.8);

  }
  .guessed_row p{
    font-size: 15px;
  }
  
  .rules_container.popup #playGame {
    position: relative;
    left: 32%;
  }

  .title {
    font-size: 40px !important;
  }

  .hidden {
    display: none;
    height: 0;
    width: 0;
  }

  /* CSS styles for small screens go here */
  .root .main-container .game-container .row {
    align-items: center;
    /* transform: scale(1.5); */
  }

  .root .main-container {
    width: 85%;
    left: 2%;
  }

  .rules_container,
  .settings_container {
    background-color: #010101;
    transform: scale(0.65) translate(-75%, -75%);
    width: 120%;
    height: 120%;
    border: 2px solid rgb(25, 21, 21);
    border-radius: 2rem;
    box-shadow: -1px 0px 17px 6px rgb(19 17 17);
    overflow: hidden;
    scrollbar-width: thin;
  }
  #playGame {
    top: -5%;
  }
  label {
    right: 20px;
  }

  .option-container {
    left: 0%;
  }

  .game-container {
    transform: scale(0.7);
    height: 120%;
    top: -15%;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  .title {
    font-size: 100px;
    left: 40%;
  }

  .heading .rules_heading {
    width: fit-content;
    margin: 0 40px 0 0;
  }

  h1 {
    position: relative;
    left: 5%;
    font-size: 40px;
    font-weight: 600;
  }

  p {
    font-size: 30px;
    position: relative;
  }

  h2 {
    font-size: 40px;
    left: 0%;
    font-weight: 600;
  }

  #close,
  #close_settings {
    position: relative;
    left: 0;
    margin-bottom: 20px;
    color: #fff;
  }


  .user-information h2 {
    left: 0%;
    text-align: left;
  }

  .user-information .info-update-buttons {
    position: relative;
    top: 10%;
    left: 10%;
    margin: -5px -12%;
  }

  .user-information .info-change {
    position: relative;
    left: 5%;
    display: grid !important;
    grid-template-columns: repeat(auto-fit, 300px 300px);
  }

  .user-information .info-change div {
    position: relative;
    font-size: 20px;
  }

  .rules_container.popup input {
    border-color: gray;
    border: 1px solid transparent;
    border-radius: 12px;
    overflow: hidden;
    background: #3d3d3d;
    padding: 5px;
    cursor: text;
    margin-left: 5px;
    position: relative;
    left: 15%;
    max-height: 15px;
    min-width: 150px;
    font-size: 20px;
  }

  .rules {
    position: relative;
    left: 5%;
  }

  #username {
    margin-bottom: 5px;
    font-size: 35px;
  }

  .email {
    display: flex;
  }
}